.centeredLogin {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.login img {
  width: 150px;
  margin: auto auto 15px auto;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login input {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;

  transition-duration: 0.2s;
}
.login input:focus {
  transform: scale(1.07);
  transition-duration: 0.2s;
  
  outline: none;
}
.login button {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #e8ecf1;
  border-color: #e8ecf1;
}
.login button:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition-duration: 0.2s;
}

.centeredLogin small {
  position: absolute;
  bottom: 15px;
  color: white;
  opacity: 0.2;
}